{ 
  "presets": [
    "flow", 
    "react", 
    "es2015", 
    "stage-0"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "components": "./components"
      }
    }]
  ]
}
